.speechbubble {
    padding: 15px 25px;
    margin-bottom: 35px;
    margin-top:35px;
    cursor: default;
    display: flex;
}
.speechbubble .garry{
    margin-right:15px;
}
.speechbubble .chat {
    padding-left: 15px;
    border-left: 5px solid;
    border-color: #01ad9b;
}
.speechbubble .warn {
    border-color: #ffe100;
}
.speechbubble .err {
    border-color: #ff8750;
}
.chat span{
    font-weight:bold;
}
.whisper:after{
    content: '<garry whispers>';
}
.hisses:after{
    content: '<garry hisses>';
}
.urges:after{
    content: '<garry urges>';
}

#cookies {
    display:none;
    position:fixed;
    text-align: center;
    left:0;
    bottom:15px;
    background-color: #01ad9b;
    padding:10px;
    width:100%;
}

#cookies-btn {
  background-color:white;
  font-weight:bold;
}