<footer id="footer">
    <div class="footer-left">
        Copyright &copy; {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{
        else }} {{ print .Site.Title }} {{ end }}
    </div>
    <div class="footer-right">
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                <li><a href='{{ "legal" | absURL }}'>legal notice</a></li>
                <li><a href='{{ "privacy" | absURL }}'>pricacy policy</a></li>
            </ul>
        </nav>
    </div>
</footer>

<div id="cookies">
    if you use this site you accept the usage of cookies. take a closer look under <a
        href='{{ "privacy" | absURL }}'>privacy policy</a>
    <button id="cookies-btn">accept</button>
</div>
<script src={{ "js/custom.js" | absURL }} defer></script>